body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #005b96;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }
  
  main {
    padding: 2em;
  }
  
  .content p {
    margin-bottom: 1em;
  }
  
  .contact {
    background-color: #e0f7fa;
    padding: 1em;
    margin-top: 2em;
    border-left: 5px solid #00796b;
  }
  
  .contact a {
    color: #00796b;
    text-decoration: none;
  }
  
  footer {
    background-color: #005b96;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
  }
  